.Promociones-ContainerPrincipal{
    background-color: rgb(227, 226, 226);
}

.carousel-item img{
    border-radius: 20px;
}
.Promociones-containerPortada img{
    width: 100%;
}
.Promociones-Link{
    text-decoration: none;
    background-color: #270570;
    padding: 5px 10px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}
.Promociones-Link:hover{
    background-color: #3704a5;
    color: rgb(255, 255, 255);
}
.Promociones-a{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.Promociones-containerPago img{
    width: 100%;
    border-radius: 20px;
}
.Promociones-containerPago{
    margin-top: 10px;
}
.Promociones-Notas{
    margin: 20px 0px 0px;
    padding-bottom: 20px;
}
.Promociones-Notas p{
    font-size: 13px;
}
.PromocionesArrepentimiento{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.Promociones-Boton{
    border: 0;
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s;
}
.Promociones-Boton:hover{
    background-color: rgb(255, 177, 32);
}
.PromocionesBotonReclamo{
    padding: 10px 40px;
    background-color: rgb(108, 123, 255);
    border: 0;
    border-radius: 5px;
    outline: 1px solid rgba(0, 0, 0, 0.226);
    color: white;
}
.Promociones-PaisesBoton{
    border: 0;
    margin: 0px;
    background-color: white;
}