.card-div{
    background-color: rgb(234, 233, 234);
    margin: 30px;
    height: 100%;
    width: 800px;
}

.div-title{
    max-width: max-content;
}

.div-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.border-left{
    height: max-content;
    border-left: 4px solid rgb(111, 11, 138);
}

.border-right{
    height: max-content;
    border-right: 4px solid rgb(111, 11, 138);
}

.airline-box{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.price-box{
    height: 90px;
    
}

.div-price-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background-color: rgb(111, 11, 138);
    color: white;
    font-weight: bold;
    padding: 8px;
    margin-top: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.font-weight-bold{
    font-weight: bold;
}

.more-details{
    background-color: rgb(111, 11, 138);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:3px ;
    padding-bottom: 3px;
    text-decoration: none;
}

