.card-div{
    background-color: rgb(234, 233, 234);
    margin: 20px;
    width: 1320px;
}

 .card-border-left{
    border-left: 4px solid rgb(111, 11, 138);
}

.card-border-right{
    border-right: 4px solid rgb(111, 11, 138);
} 

.card-airline-box{
    height: 80px;
    font-family: 'Exo 2', sans-serif;
    height: max-content;
}

.card-airline-box-one{
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    align-items: center;
    height: 100%;
}
.card-price-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.card-div-price-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn{
    border: none;
    background-color: rgb(111, 11, 138);
    color: white;
    font-weight: bold;
    padding: 8px;
    margin-top: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.font-weight-bold{
    font-weight: bold;
}

.card-more-details{
    background-color: rgb(111, 11, 138);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:3px ;
    padding-bottom: 3px;
    text-decoration: none;
}

.card-btn-delete{
    background-color: rgb(217, 26, 26);
    color: rgb(248, 236, 236);
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 6px;
    border-radius: 26px;
    position: absolute;
    top: 4px;
    right: 4px;
}
/*  */
.Card-ContainerCard-Flights{
    width: 100%;
}
.Card-ContainerPrincipal{
    width: 80%;
    height: 100px;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.267);
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px;
    position: relative;
}
.Card-Cabezara{
    display: flex;
    align-items: center;
}
.Card-IdaVuelta{
    background-color: rgb(111, 11, 138);
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 20px;
    color: white;
}
.Card-NameAirport{
    font-size: 12px;
}
.Card-Row{
    height: 70px;
}
.Card-ContainerAerolinea2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card-ContainerAerolinea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Card-ContainerAerolinea img{
    width: 30px;
}
.Card-Cabin{
    font-size: 12px;
}
.Card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Card-ContainerAerolinea h3{
    font-size: 15px;
    text-align: center;
    margin: 0px;
    position: relative;
    user-select: none;
    color: rgb(56, 56, 56);
}
.Card-MoreAirlines:hover > div{
    display: block;
}
.Card-MoreDesplegable{
    display: none;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.404);
    position: absolute;
    top: 0;
    right: 1;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.Card-Info1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Card-Info1 h4{
    margin: 0px;
    font-size: 15px;
    color: rgb(70, 70, 70);
    font-weight: bold;
}
.Card-Info1 h4 label{
    font-size: 14px;
    color: gray;
}
.Card-Info2{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card-Info2 p{
    margin: 0px;
    font-size: 13px;
    color: rgb(46, 46, 46);
}
.Card-Detalles{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-Detalles button{
    font-size: 13px;
    padding: 4px 9px;
    border-radius: 10px;
    background-color: rgb(111, 11, 138);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}

.Card-Detalles .card-link{
    background-color: red;
    padding: 0px 0px;
    border-radius: 10px;
    transition: all 0.3s;
    border: none;

}

.Card-Detalles button:hover{
    background-color: rgb(166, 9, 209);
}
.Card-Precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Card-Precio p{
    margin: 0px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.Card-Precio p label{
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 145, 0);
    font-weight: bold;
}
.Card-Siguiente{
    border: 0;
    background-color: rgb(111, 11, 138);
    color: aliceblue;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
}
.Card-Siguiente:hover{
    background-color: rgb(146, 0, 187);
}
.Card-Borrar{
    border: 0;
    background-color: rgb(206, 1, 1);
    color: aliceblue;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
}
.Card-Borrar:hover{
    background-color: rgb(250, 0, 0);
}
.Card-Border{
    border-left: solid 1px rgba(0, 0, 0, 0.267);
}