.FlightSearch-containerConteo{
    display: flex;
    justify-content: space-around;
}
.FlightSearch-Mas{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px rgba(0, 0, 0, 0.226);
    background-color: rgba(236, 233, 233, 0.267);
    width: 33%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
}
.FlightSearch-conteo{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FlightSearch-Menos{
    width: 33%;
    border-right: solid 1px rgba(0, 0, 0, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 233, 233, 0.267);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    transition: all 0.3s;
}

.FlightSearch-Mas:hover, .FlightSearch-Menos:hover{
    background-color: rgb(202, 202, 202);
}
.FlightSearch-error{
    border: solid 1px rgba(255, 0, 0, 0.575);
}
.FlightSearch-errorsText{
    color: red;
}