.flights-cont{
    background-color: rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.pag-list-style{
    text-decoration: none;
    list-style:none;
}

.flights-container-cards{
    display: flex;
    flex-direction: column;
}

.Flights-cp{
    background-color: rgb(108, 10, 200);
    width: max-content;
    margin: auto;
    padding: 6px;
    border-radius: 12px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.flights-li{
    list-style: none;
    font-size: 25px;
    color: rgb(110, 17, 197);
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}
.flights-li-40{
    list-style: none;
    font-size: 20px;
    color: rgb(110, 17, 197);
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

