body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(226, 226, 226);
}

.NavBar-header{
    background-color: white;
    display: flex;
}
.NavBar-Logo{
    text-decoration: none;
    color: rgb(111, 11, 138);
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.NavBar-Logo:hover{
    color: black;
}
.NavBar-ImgLogo{
    height: 50px;
    width: 50px;
}

.NavBar-Info{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    border-bottom-left-radius: 24px;
    padding: 0px 24px;
    box-sizing: border-box;
    height: 40px;
    /* width: 70%; */
}
.NavBar-ContainerPrincipal{
    display: flex;
    padding: 0px;
    justify-content: space-between;
}
.NavBar-Ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.NavBar-Ul li{
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 0px;
    /* padding: 0px 10px;
    border-right: 1px solid rgba(79, 78, 80, 0.452);
    display: flex;
    justify-content: center;
    align-items: center; */
}
.NavBar-Ventas{
    display: flex;
    align-items: center;
}
.NavBar-Ventas p{
    margin: 0px 0px 0px 5px;
    font-family: 'Acme';
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar-Ventas, .NavBar-IniciarSesion, .NavBar-MisViajes{
    height: max-content;
    border-right: 1px solid rgba(110, 11, 138, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar-ContainerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.NavBar-Ayuda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar-Boton1{
    padding: 0px 10px;
}
.NavBar-LinkBoton{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin: 5px;
    color: rgb(95, 95, 95);
    animation: all 0.2s;
}
.NavBar-LogoBoton{
    height: 20px;
    width: 20px;
    /* background-color: antiquewhite; */
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar-LinkBoton:hover{
    color: blueviolet;
}   
.NavBar-Nuevo{

}
.NavBar-Ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.NavBar-UsuarioLogo{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: 5px;
}
.NavBar-LinBotonActive{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin: 5px;
    color: rgb(95, 95, 95);
    height: max-content;
    border-bottom: 4px solid rgb(111, 11, 138);
    animation: all 0.2s;
}
.NavBar-LinBotonActive:hover{
    color: rgb(95, 95, 95);
}
.Login-UsuarioDesplegable{
    position: relative;
}
.Login-Desplegable{
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -320px;
    width: 250px;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
}
.Login-Desplegable hr{
    margin: 5px 0px;
}
.Login-DesplegableContainerBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
}
.Login-DesplegableContainerBoton hr{
    width: 50%;
    color: rgba(0, 0, 0, 0.521);
    z-index: 200;

}
.Login-DesplegableContainerImg{
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}
.Login-DesplegableContainerImg h6{
    z-index: 200;

    font-weight: bold;
    margin-top: 5px;
}
.Login-Desplegable img{
    z-index: 200;

    border-radius: 100%;
    height: 70px;
    /* width: 50px; */
}
.Login-UsuarioDesplegable:hover > div{
    z-index: 200;

    display: block;
}
.Login-DesplegableBoton{
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 10px 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 10px;
    z-index: 200;
}
.Login-DesplegableBoton:hover{
    background-color: #EEE;
    z-index: 201;
}
.Login-PhotoLog{
    height: 25px;
    border-radius: 30px;
    z-index: 200;

}
