
.pag-cont{
    width: max-content;
    border-radius: 12px;
    padding: 1px;
}

.pagination .page-num{
    padding: 1px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.pagination .page-num:hover{
    color:rgb(111, 11, 138) ;
    transition: 1s;
}

.selected{
    background-color: rgb(229, 121, 253);
    border-radius: 10px;
}

.break{
    cursor: pointer;
}

.page-num{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.pag-link{
    text-decoration: none;
    color: rgb(148, 18, 212);
    font-size: 20px;
    padding: 2px;
    margin: 1px;
    border-radius: 9px;
    cursor: pointer;
}

.pag-link-40{
    text-decoration: none;
    color: rgb(148, 18, 212);
    font-size: 14px;
    padding: 2px;
    margin: 1px;
    border-radius: 9px;
    cursor: pointer;
}

.pag-link-40:hover{
    background-color: rgb(228, 58, 186);
    color: rgb(148, 18, 212);
    transition: 1s;
}

.pag-link:hover{
    background-color: rgb(228, 58, 186);
    color: rgb(148, 18, 212);
    transition: 1s;
}


.pag-nav{
    display:flex;
    justify-content: center;
}