#record-card{
    background-image: url('../../Images/historialBusqueda.jpg');
    background-size: cover;
    /* margin-right: 10px; */
    width: 100%;
}

.container-record{
    margin-left: 80px;
    margin-top: 20px;
    width: 95%;
    /* height: 60%; */
}