.Help-ContainerPortada img{
    width: 100%;
}
.Help-ContainerBox{
    /* height: 20px; */
    /* background-color: aqua; */
}
.HelpBox{
    width: 500px;
    height: 150px;
    background-color: white;
    /* border: solid 1px black; */
}
.Help-ContainerImg{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    margin-right: 5px;
}
.Help-ContainerImg img{
    width: 50px;
    height: 50px;
}
.Help-Aqui{
    text-decoration: none;
    color: rgb(255, 145, 0);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}
.Help-Aqui:hover{
    color: rgb(190, 109, 3);
}
.Help-Suscrib{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-bottom: 25px;
}
.Help-Contacto{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}