.MiPerfil-containerTituloPrincipal{
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-top: solid 1px rgba(0, 0, 0, 0.205);
    border-bottom: solid 1px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
}
.MiPerfil-containerTituloPrincipal h1{
    padding-left: 40px;
}
.MiPerfil-containerInfoPrincipal{
    display: flex; 
    justify-content: center;
    margin-top: 50px;
    /* align-items: center; */
}
.MiPerfil-ContainerDatos{
    width: 370px;
    /* height: 470px; */
    /* border: solid 1px black; */
    margin-right: 30px;
}
.MiPerfil-containerFoto{
    max-width: 370px;
    max-height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #270570;
    /* border: 1px solid rgb(255, 255, 255); */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.MiPerfil-containerFoto img{
    border-radius: 100% ;
    height: 100px;
    width: 100px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #e2e2e2;
}
.MiPerfil-containerFoto h3, .MiPerfil-containerFoto h4{
    margin: 0px;
    color: aliceblue;
}
.MiPerfil-containerChangeBox{
    border: solid 1px rgba(0, 0, 0, 0.247);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    padding: 20px;
}
.MiPerfil-ChangeBox{
    text-decoration: none;
    color: black;
}
.MiPerfil-ChangeBox:hover{
    text-decoration: none;
    color: #3700ff;
}
.MiPerfil-ChangeBoxActive{
    color: #3700ff;
}
.MiPerfil-Ofertas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.MiPerfil-BotonCancelar button{
 margin: 10px 5px   
}